body {
    background #ffffff
}

aside {
    float: left;
    background: #f2f2f2;
    widht: 22%;
    padding: 2.5%;
    height: 100vh;
    color: #000;
    border-right: 5px solid #f2f2f2;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul li {
    color: #000;
    display: block;
    margin-top: 20px;
    transition: transform .6s;
}

aside ul li:hover, aside ul a:link{
    color: #43b0f1;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #000;
    margin-top: 60px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert {
    background-color: #f2f2f2;
    border-color: #c2c2c2;
    float: left;
    clear: center;
    width: 400px;
    margin: 20px 36%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}